<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tabs</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Apple</string>
			<key>Icon</key>
			<string>chart</string>
			<key>URLs</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Apple</string>
					<key>URL</key>
					<string>https://apple.com</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Google</string>
			<key>Icon</key>
			<string>cloud</string>
			<key>URLs</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Google</string>
					<key>URL</key>
					<string>https://google.com</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Tyler</string>
			<key>Icon</key>
			<string>comments</string>
			<key>URLs</key>
			<array>
				<dict>
					<key>Title</key>
					<string>tyler.io</string>
					<key>URL</key>
					<string>https://tyler.io</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Misc</string>
			<key>Icon</key>
			<string>dollar</string>
			<key>URLs</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Click On Tyler</string>
					<key>URL</key>
					<string>https://clickontyler.com</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>NodePing</string>
					<key>URL</key>
					<string>https://nodeping.com/</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Setapp</string>
					<key>URL</key>
					<string>https://setapp.com/</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Linode</string>
					<key>URL</key>
					<string>https://cloud.linode.com/</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
